<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>
<body>

    <% 
        const nome = "Daniel"  
        const apelido = "Sapup3"
    %>

    <div>
        <a href="/">Home</a>&nbsp;|&nbsp;
        <a href="/services">Services</a>&nbsp;|&nbsp;
        <a href="/about">About</a>
    </div>

   <h1>Home EJS</h1>
   <p> <%= nome + " " + apelido %> </p>
   <p> <%= `${nome}  ${apelido}` %> </p>
</body>
</html>


<!--
    Autor: Daniel Oliveira
    Email: danieloliveira.webmaster@gmail.com
    Manaus/Amazonas
    15/02/2023
-->