<%- include("./partials/header.ejs") %>
<%- include("./partials/nav.ejs") %>


   <h1>About</h1>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, porro perferendis aliquam nulla aut sint.</p>

   <img src="/logo.png">




<!-- date-page-footer -->   
<%- include("./partials/footer.ejs") %>






<!--
    Autor: Daniel Oliveira
    Email: danieloliveira.webmaster@gmail.com
    Manaus/Amazonas
    04/03/2023
-->