<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
</head>
<body>

    <div>
        <a href="/">Home</a>&nbsp;|&nbsp;
        <a href="/services">Services</a>&nbsp;|&nbsp;
        <a href="/about">About</a>
    </div>

   <h1>Services</h1>


   <% 
    if(servicos.length > 0){
        console.log("Sapup3");
    }
   %>
   
   <h3>Titulo do serviço</h3>
   <p>Descrição do serviço</p>
   <hr>

</body>
</html>


<!--
    Autor: Daniel Oliveira
    Email: danieloliveira.webmaster@gmail.com
    Manaus/Amazonas
    16/02/2023
-->