<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SISTEMA DE ROTAS SIMPLES</title>
</head>
<body>
    <h1>RESPONDER COM UMA PÁGINA HTML COMPLETA</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam commodi recusandae accusamus totam quibusdam, deleniti vero suscipit sit consectetur saepe, numquam reiciendis cupiditate expedita laborum inventore tempore alias, debitis ea?
    Cum id unde ea sapiente? Ab nulla, maiores quod animi maxime laboriosam sequi cumque eius et quas esse perspiciatis praesentium optio quam fugiat cupiditate similique alias iusto eligendi fugit? Quisquam?
    Modi aliquam corrupti odio consequatur voluptatum voluptas quam aut eaque asperiores accusamus consequuntur, repellendus non voluptatibus excepturi voluptates perferendis beatae obcaecati ut sequi, ducimus neque consectetur dolore error sed? Quas.</p>


</body>
</html>

<!--
    Autor: Daniel Oliveira
    Email: danieloliveira.webmaster@gmail.com
    Manaus/Amazonas
    27/01/2023
-->